<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blog.com.blogstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.XiaoMiActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recyclerview.banner.activity.RlvBannerNormalActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".recyclerview.banner.activity.RlvBannerRlvActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".recyclerview.refresh.activity.RlvRefreshListActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".recyclerview.refresh.activity.RlvRefreshWrapperActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".recyclerview.refresh.activity.RlvRefreshActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".recyclerview.zhihuad.RlvZhiHuAdActivity"
            android:launchMode="singleTask" />


        <activity
            android:name=".note.activity.BActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.SurfaceViewActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".opengl.google.OpenGLGoogleActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.RightMarkActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.PathActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.LeafLoadingActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>